<app-toolbar />
<main class="listagem">
  <div class="acoes">
    <button class="botao" routerLink="/funcionarios/cadastrar">Cadastrar</button>
    <button class="botao">Carregar +</button>
  </div>
  <table class="tabela" *ngIf="listaFuncionarios.length > 0; else semFuncionarios">
    <thead class="tabela__cabecalho">
      <tr>
        <td>Código</td>
        <td>Nome</td>
        <td>Email</td>
        <td>Telefone</td>
        <td>Editar</td>
      </tr>
    </thead>
    <tbody class="tabela__corpo">
      <tr *ngFor="let funcionario of listaFuncionarios">
        <td>{{ funcionario.id }}</td>
        <td>{{ funcionario.nome }}</td>
        <td>{{ funcionario.email }}</td>
        <td>{{ funcionario.telefone }}</td>
        <td><a [routerLink]="'/funcionarios/editar/' + funcionario.id"><img
              src="../../../assets/icons/icone-editar-branco.svg" alt="botão de edição"></a></td>
      </tr>
    </tbody>
    <tfoot class="tabela__rodape">
      <tr>
        <td colspan="5" class="footer-container"></td>
      </tr>
    </tfoot>
  </table>
</main>
<ng-template #semFuncionarios>
  <div class="container-vazio">
    <p class="texto-vazio">Sem Funcionários!</p>
    <p class="texto-vazio">Erro ao recuperar usuários</p>
  </div>
</ng-template>
