@import "../../../styles.scss";

.card-login {
  align-items: center;
  background: $branco;
  border-radius: 12px;
  border-top: 30px solid rgba(2, 0, 36, 1);
  box-shadow: 6px 9px 3px #CCCCCC;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  margin: 0 auto;
  width: 400px;

  &__titulo {
    font-family: $fonte-titulo;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    width: 100%;

    .card-login__campos {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;

      label {
        align-self: start;
        display: block;
        color: gray;
        font-weight: 300;
        font-size: 0.6em;
        padding-left: 10%;
        padding-bottom: 1em;
      }

      input {
        border-radius: 12px;
        border: 2px solid #999999;
        padding: 1em 0.5em;
        width: 80%;
      }
    }

  }

  .card-login__links {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 100%;

    a {
      font-size: 0.7em;
    }
  }
}
