<app-toolbar />
<main class="listagem">
  <div class="acoes">
    <button class="botao" routerLink="/atendimentos/cadastrar">Cadastrar</button>
    <!-- <button class="botao">Carregar +</button> -->
  </div>
  <table class="tabela" *ngIf="listaAtendimentos.length > 0; else semAtendimentos">
    <thead class="tabela__cabecalho">
      <tr>
        <td>Paciente</td>
        <td>Horário</td>
        <td>Médico</td>
        <td>Tipo/Atendimento</td>
        <td>Editar</td>
      </tr>
    </thead>
    <tbody class="tabela__corpo">
      <tr *ngFor="let atendimento of listaAtendimentos">
        <td>{{ atendimento.paciente }}</td>
        <td>{{ atendimento.horario | date: 'dd/MM/yy - hh:mm' }}</td>
        <td>{{ atendimento.medico }}</td>
        <td>{{ atendimento.tipo }}</td>
        <td><a [routerLink]="'/atendimentos/editar/' + atendimento.id"><img
              src="../../../assets/icons/icone-editar-branco.svg" alt="botão de edição"></a></td>
      </tr>
    </tbody>
    <tfoot class="tabela__rodape">
      <tr>
        <td colspan="5" class="footer-container"></td>
      </tr>
    </tfoot>
  </table>
</main>
<ng-template #semAtendimentos>
  <div class="container-vazio">
    <p class="texto-vazio">Sem Atendimentos!</p>
    <p class="texto-vazio">Insira um atendimento</p>
  </div>
</ng-template>
