<section class="card-login">
  <h1 class="card-login__titulo">SGAP</h1>
  <form action="">
    <div class="card-login__campos">
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email" placeholder="Digite seu email">
    </div>
    <div class="card-login__campos">
      <label for="senha">Senha:</label>
      <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
    </div>
  </form>
  <div class="card-login__links">
    <p><a href="#">Sobre</a></p>
    <p><a href="#">Termos</a></p>
    <p><a href="#">Ajuda</a></p>
  </div>
</section>
