@import "../../../styles.scss";

.listagem {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 0 auto;
  width: 100%;

  .acoes {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 1em 0;
    width: 100%;

    .botao {
      background: $azul-escuro;
      border: none;
      border-radius: 4px;
      color: $branco;
      font-weight: bold;
      padding: 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tabela {
    border-radius: 10px 10px 0 0;
    margin: 1.5em auto;

    &__cabecalho {
      background-color: $azul-escuro;
      color: $branco;

      tr {
        td {
          border: 1px solid $branco;
          font-weight: bold;
          padding: 1.5em 3em;
          text-align: center;
        }
      }
    }

    &__corpo {
      tr {
        td {
          background: $azul;
          border: 1px solid $branco;
          color: $branco;
          padding: 0.5em 2em;
          text-align: center;
        }
      }
    }

    &__rodape {
      background-color: $azul-escuro;
      tr {
        .footer-container {
           height: 30px;
        }
      }
    }
  }

  .container-vazio {
    margin: 5em auto;

    .texto-vazio {
      text-align: center;
      font-weight: bold;
      padding: 1em 0;
    }
  }
}
