@import '../../../styles.scss';

.listagem {
  margin: 0 auto;
  width: 80%;

  .tabela {
    border: 1px solid $preto;
    border-radius: 10px 10px 0 0;
    margin: 2em auto;

    &__cabecalho {
      background-color: rgba(2, 0, 36, 1);
      color: $branco;

      tr {
        td {
          border: 1px solid $preto;
          font-weight: bold;
          padding: 2em 3em;
          text-align: center;
        }
      }
    }

    &__corpo {
      tr {
        td {
          border: 1px solid $preto;
          padding: 1em 2em;
          text-align: center;
        }
      }
    }
  }

  .container-vazio {
    margin: 5em auto;
    .texto-vazio {
      text-align: center;
      font-weight: bold;
      padding: 1em 0;
    }
  }
}
