@import "../../../styles.scss";

.form-assistidos {
  padding: 2em 0;
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }

  .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1em 0;
  }

  .btn-group {
    align-items: center;
    display: flex;
    justify-content: center;

    .botao {
      padding: 0.5em 1em;

      &:last-child {
        margin-left: 1em;
      }
    }
  }

}
