<section class="form-assistidos">
  <form [formGroup]="formAtendimento">
    <div class="row">
      <div class="col">
        <label for="horario">Horário</label>
        <input type="datetime-local" formControlName="horario">
        <label for="tipo">Tipo</label>
        <input type="text" formControlName="tipo">
        <label for="observacao">Observações</label>
        <textarea formControlName="observacao"></textarea>
      </div>
    </div>
    <div class="btn-group">
      <button type="button" (click)="excluir()" class="btn" *ngIf="editComponent === true">EXCLUIR</button>
      <button type="submit" (click)="executarAcao()" class="btn" [disabled]="formAtendimento.invalid">ENVIAR</button>
    </div>
  </form>
</section>
