@import url("https://fonts.googleapis.com/css2?family=Anton&family=Reddit+Mono:wght@200..900&display=swap");

$branco: #ffffff;
$preto: #000000;
$cinza: #999999;
$azul: rgb(79, 71, 238);
$azul-escuro: rgba(2, 0, 36, 1);
$vermelho: rgb(255, 0, 0);

$fonte-titulo: "Anton", sans-serif;
$fonte-principal: "Reddit Mono", monospace;

/* reset CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* estilos padrões */
body {
  background-color: rgb(236, 236, 208);
  font-family: $fonte-principal;
}

main {
  min-height: 50vh;
}

.botao {
  background: $azul;
  border: none;
  border-radius: 6px;
  color: $branco;
  font-weight: bold;
  padding: 1em;
  text-transform: uppercase;

  &:hover {
    background: $azul-escuro;
    cursor: pointer;
    transition: 0.3s ease-out;
  }

  &:focus {
    box-shadow: 0 0px 5px $azul-escuro;
    outline: none;
  }

  &:disabled {
    cursor: default;
    border: none;
    background-color: $cinza;
  }
}

.input-texto {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5em 0;
  width: 100%;

  label {
    align-self: start;
    display: block;
    color: $preto;
    font-weight: 300;
    font-size: 0.8em;
    padding-bottom: 1em;
  }

  input, textarea {
    border-radius: 12px;
    border: 2px solid $cinza;
    padding: 1em 0.5em;
    width: 100%;

    &:focus {
      box-shadow: 0 0px 5px $azul;
      outline: none;
    }
  }

  textarea {
    resize: vertical;
  }

  .card-login__errors {
    display: flex;
    width: 100%;

    app-mensagem-erro {
      align-self: flex-start;
    }
  }
}
